a{
  color: blueviolet;
  text-decoration: none;
  font-size: xx-large;
  background-color: wheat;
  border: 5px solid orchid;
  padding: auto;
  margin: 50px 50px;
}
  
a:hover{
  color:wheat;
  background-color: #414141;
}

a:active{
  color: blue;

}

a:visited{
  color: coral;
  background-color: black;
}


/* list */


ul{
  list-style: square inside url(man.png);
}