h1{
  color: white;
  background-color: black;
  text-align: center;
  
}

body{

  background-color: #414141;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

 }

p{
  color: black;
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana ;
}