h1{
  text-align: center;
  color: tomato;
}

h2{
  text-align: center;
  color: rgb(255,99,70);
}

p{
  text-align: center;
  color: #7ed6df;
}

body{
  background-color: #130f40;
}

.box{
  margin: auto;
  width: 600px;
  height: 500px;
  /* background: radial-gradient(red blue
  green);
 */
  background: linear-gradient(to left top,rgba(255,0,0),209px, green);
}
.box2{
  width: 600px;
  height: 500px;

  /* background: radial-gradient(red blue
  green);
 */
  background: radial-gradient(#7ed6df,tomato,violet);
}