/* for id use # and for class use . */


body{
  background-color: black;
  width: 95%;
}

/* .p1{
  color: aliceblue;
  border-width: 5px;
  border-style: dashed;
  border-color: gold;
  border-radius: 25px;
} */

.p1{
  border: 5px solid red ;
  border-radius: 15px;
  color: aliceblue;
}

#p2{
  color: aliceblue;
  border-width: 5px;
  border-style: solid;
  border-color: red;
  border-radius: 50px;
}