h1{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5vw;

}

/* first p */
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2vw; 
}

/* id font */
#font{

  font-family: 'Playpen Sans', cursive;
}

/* if wants to impliment any font for the whole website we need to put the css properties in the body tag in our css file */


/* icon */
.fa-solid{
  font-size: 250px;
  color: blueviolet;
}

.material-symbols-outlined {
  color: red;
}
